#define DEFAULT 0
#define NUM     1
#define SYM     2
#define FUN     3
#define MOUSE   4
#define SCROLL  5
#define SNIPE   6

// OS設定を日本語キーボードのまま使用するための変換定義

#define JP_DQUOTE       AT                // "
#define JP_AMPERSAND    CARET             // &
#define JP_QUOTE        AMPERSAND         // '
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQUOTE    LEFT_BRACE        // `
#define JP_UNDERSCORE   LS(0x87)          // _
#define JP_LBRACKET     RIGHT_BRACKET     // [
#define JP_RBRACKET     BACKSLASH         // ]
#define JP_LPAREN       ASTERISK          // (
#define JP_RPAREN       LEFT_PARENTHESIS  // )
#define JP_LBRACE       RIGHT_BRACE       // {
#define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角

#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

&caps_word { continue-list = <UNDERSCORE MINUS>; };

/ {
    // custom shift using mod-morph 

    behaviors {
        cmqus: comma_question {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_QUESTION";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QUESTION>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dtsmi: dot_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_SEMI";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp SEMI>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "QWRT";
            bindings = <
&kp ESCAPE      &kp Q     &kp W  &kp E        &kp R        &kp T                     &kp Y        &kp U  &kp I      &kp O    &kp P          &kp MINUS
&kp LEFT_SHIFT  &kp A     &kp S  &kp D        &kp F        &kp G                     &kp H        &kp J  &kp K      &kp L    &kp SEMICOLON  &kp COLON
&kp LCTRL       &kp Z     &kp X  &kp C        &kp V        &kp B                     &kp N        &kp M  &kp COMMA  &kp DOT  &kp SLASH      &kp NON_US_BACKSLASH
&kp LGUI        &kp LALT  &mo 2  &lt 3 SPACE  &lt 5 GRAVE             &kp BACKSPACE  &lt 3 ENTER                                            &mo 4
            >;
        };

        NOTHING {
            label = "NONE";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                     &kp PLUS     &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp ASTERISK  &kp DEL
&trans  &trans  &trans  &trans  &trans  &trans                     &kp MINUS    &kp N4        &kp N5        &kp N6        &kp SLASH     &trans
&trans  &trans  &trans  &trans  &trans  &trans                     &kp N0       &kp N1        &kp N2        &kp N3        &trans        &trans
&trans  &trans  &trans  &trans  &trans              &kp BACKSPACE  &lt 3 ENTER                                                          &trans
            >;
        };

        symbol_layer {
            label = "SYM";
            bindings = <
&trans  &kp EXCLAMATION  &kp JP_DQUOTE  &kp HASH      &kp DOLLAR    &kp PERCENT                  &kp JP_AMPERSAND  &kp JP_QUOTE  &kp JP_LPAREN    &kp JP_RPAREN    &trans    &trans
&trans  &bt BT_CLR       &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2  &trans                       &trans            &kp JP_AT     &kp JP_LBRACE    &kp JP_RBRACE    &kp SEMI  &trans
&trans  &trans           &trans         &trans        &trans        &trans                       &trans            &trans        &kp JP_LBRACKET  &kp JP_RBRACKET  &trans    &trans
&trans  &trans           &trans         &kp TAB       &trans                         &kp DELETE  &kp TAB                                                                     &trans
            >;
        };

        function_layer {
            label = "FUN";
            bindings = <
&trans  &trans    &trans          &kp UP_ARROW    &kp PG_UP        &trans                   &trans   &kp F9  &kp F10  &kp F11  &kp F12  &trans
&trans  &kp HOME  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp END                  &trans   &kp F5  &kp F6   &kp F7   &kp F8   &trans
&trans  &trans    &trans          &trans          &kp PG_DN        &trans                   &trans   &kp F1  &kp F2   &kp F3   &kp F4   &trans
&trans  &trans    &trans          &kp TAB         &trans                        &kp DELETE  &kp TAB                                     &trans
            >;
        };

        mouse_layer {
            label = "MOUSE";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &mkp LCLK  &mkp RCLK  &mkp MCLK  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans                                           &trans
            >;
        };

        scroll_layer {
            label = "SCROLL";
            bindings = <
&trans  &trans    &trans          &kp UP_ARROW    &kp PG_UP        &trans                   &kp JP_PIPE   &kp N7  &kp N8  &kp N9  &kp SLASH        &kp MINUS
&trans  &kp HOME  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp END                  &kp JP_TILDE  &kp N4  &kp N5  &kp N6  &kp JP_ASTERISK  &kp JP_PLUS
&trans  &trans    &trans          &trans          &kp PG_DN        &trans                   &kp N0        &kp N1  &kp N2  &kp N3  &kp JP_CARET     &kp JP_EQUAL
&trans  &trans    &trans          &kp TAB         &trans                        &kp DELETE  &kp TAB                                                &trans
            >;
        };

        snipe_layer {
            label = "SNIPE";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans                                  &trans
            >;
        };
    };
};
